{% extends 'base.html.twig' %}

{% block title %}Personality Test | Welcome{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome To Personality Test!</h1>

    <p>
        This is personality test application, that takes 3 different questions you should answer,
        maps them into a score and produces your personality trait of either Introvert or Extrovert.
    </p>
    <div>
        <a href="{{ path('test_process') }}">Start Your Test</a>
    </div>
</div>
{% endblock %}
