{% set answers = app.session.get('answers') %}
<span>Question {{ key + 1 }}/3</span>
<div><label>{{ question }}</label></div>
<div>
    <div><span><i>All questions are required</i></span></div>
    {% set i=1 %}
    {% for choice in question_choices %}
        <label>
            <input type="radio" value="{{ i }}"
                   name="answer"
                   class="answer"
                   {% if answers[key] is defined and answers[key] == i %}checked{% endif %}
            /> {{ choice }}
        </label><br>
        {% set i = i+1 %}
    {% endfor %}
</div>
<div>
    {% if key > 0 %}
    <button id="previous" value=-1>Previous</button>
    {% endif %}
    {% if key < 2 %}
    <button id="next" value=1>Next</button>
    {% else %}
    <button id="finish" value=2>Submit your test</button>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        let step = 0;
        $('#next, #previous, #finish').click(function() {
            step =  $(this).val();
            if(!$('.answer:checked').val() && 1 == step ) {
                alert('You should choose at least one answer.');
                return false;
            }
            jQuery.ajax({
                url: "{{ path('test_process') }}",
                data : {current: {{ key }}, step: step, answer: $('.answer:checked').val()},
                type: "POST",
                success: function(resp) {
                    if(-1 != resp) {
                        $('#process-content').html(resp);
                    }
                    else {
                        window.location.href = "{{ path('test_result') }}";
                    }
                }
            });
        });
    });
</script>