{% extends 'base.html.twig' %}

{% block title %}Personality Test | Are you an introvert or extrovert?{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Are you an introvert or an extrovert?</h1>
    <div id="process-content">
    {% include 'test/process_content.html.twig' %}
    </div>
</div>
{% endblock %}
