{% extends 'base.html.twig' %}

{% block title %}Personality Test | Your Result{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>You are {{ result }}.</h1>
    <a href="{{ path('test_index') }}">Take Another Test</a>
</div>
{% endblock %}